* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.comments-heading {
  color: #1e293b;
  padding-bottom: 30px;
}
.app-container {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  padding: 100px;
}
.text {
  color: #334155;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
.input-field {
  height: 30px;
  width: 313px;
  padding-left: 10px;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #475569;
  color: #1e293b;
}
.textarea-input-field {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #475569;
  font-weight: 500;
  color: #1e293b;
  margin-bottom: 10px;
}
.input-field:focus {
  outline: none;
}
.textarea-input-field:focus {
  outline: none;
}
.comments-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.submit-button {
  padding: 10px 15px;
  color: #ffffff;
  background-color: #0284c7;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.seperator {
  margin: 0px;
  border: 0.5px solid #94a3b8;
}

.count {
  font-size: 20px;
  background-color: #0b69ff;
  color: #ffffff;
  padding: 5px 15px;
  width: 40px;
  border-radius: 10px;
  margin-right: 10px;
}
.comments-count {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.count-text {
  color: #334155;
  font-size: 20px;
  font-weight: 500;
}
.comments-list-container {
  margin-top: 20px;
  list-style-type: none;
  padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .image-sizing {
    width: 350px;
    margin-top: 50px;
  }
  .app-container {
    padding: 50px;
  }
}
@media screen and (max-width: 768px) {
  .comments-container {
    display: flex;
    flex-direction: column;
  }
  .form-container {
    order: 1;
  }
  .image-container {
    order: 0;
  }
  .image-container {
    margin-top: -40px;
    margin-bottom: 20px;
  }
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
  .comments-count {
    align-self: flex-start;
    padding-bottom: 20px;
  }
}
